# Enterprice architect model
*.EAP
*.zargo
*.zargo~
*.ldb

# Exported diagrams
*.png
!diagrams/*.png

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
/nbproject/
resources/reports/*.yaml